<!DOCTYPE html>
<html lang="en">
<head>
    <title>Skydive </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
  
    <body> 
     <h1> Skydive Experiance ..... partials header</h1>