<h1>Share your Skydiving experiance </h1>

<form action="/places" method="POST">
    <input type="text" name="name" placeholder="name"> <br> 
    <input type="text" name="image" placeholder="image url"><br>
    <button>Submit</button>
</form>